# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# compiled output
/dist
/tmp
/out-tsc
dist.zip

# misc
.DS_Store
/.vscode/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.env.local
.env.development.local
.env.test.local
.env.production.local
.history/
.attach_pid*
*.iml

# logging
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/
.cert/
tsconfig.tsbuildinfo

ref-images/
